<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/beans/spring-context-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/beans/spring-util-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	xmlns:aop="http://www.springframework.org/schema/aop">

	<import resource="simplesm-context.xml" />
	
	<aop:aspectj-autoproxy />

  <bean name="defaultMemcachedClient" class="com.google.code.ssm.CacheFactory">
		<property name="defaultSerializationType"
			value="#{T(com.google.code.ssm.api.format.SerializationType).valueOf('JSON')}" />
    <property name="cacheClientFactory">
     	<bean name="cacheClientFactory" class="com.google.code.ssm.providers.spymemcached.MemcacheClientFactoryImpl"/>
    </property>
    <property name="addressProvider">
      <bean class="com.google.code.ssm.config.DefaultAddressProvider">
        <property name="address" value="127.0.0.1:11211" />
      </bean>
    </property>
    <property name="configuration">
      <bean class="com.google.code.ssm.providers.CacheConfiguration">
        <property name="consistentHashing" value="true" />
      </bean>
    </property>
  </bean>

	<bean name="awsS3Client" class="com.amazonaws.services.s3.AmazonS3Client">
		<constructor-arg index="0">
			<bean class="com.amazonaws.auth.BasicAWSCredentials">
				<constructor-arg index="0" value="AKIAIGBN2TCGAEZF6UAQ" />
				<constructor-arg index="1" value="c/THVw9PCgf4dmqLmVBBXzGx0aoyMWVPdxpKd5/3" />
			</bean>
		</constructor-arg>
	</bean>

	<bean name="awsDynamoDbClient" class="com.amazonaws.services.dynamodb.AmazonDynamoDBAsyncClient">
		<constructor-arg index="0">
			<bean class="com.amazonaws.auth.BasicAWSCredentials">
				<constructor-arg index="0" value="AKIAIGBN2TCGAEZF6UAQ" />
				<constructor-arg index="1" value="c/THVw9PCgf4dmqLmVBBXzGx0aoyMWVPdxpKd5/3" />
			</bean>
		</constructor-arg>
	</bean>

	<bean id="hotelDetailDAO" class="com.burda.scraper.dao.HotelDetailDAO">
		<property name="dynamoDBClient" ref="awsDynamoDbClient" />
	</bean>
	
	<bean id="masterHotelDAO" class="com.burda.scraper.dao.MasterHotelDAO">
		<property name="dynamoDBClient" ref="awsDynamoDbClient" />
	</bean>

	<bean id="sourceHotelDAO" class="com.burda.scraper.dao.SourceHotelDAO">
			<property name="dynamoDBClient" ref="awsDynamoDbClient" />	
	</bean>
	
	<bean id="frenchQtrGuideCacheLoader" class="com.burda.scraper.cache.FrenchQuarterGuideCacheLoader" >
		<property name="hotelDetailDAO" ref="hotelDetailDAO" />
		<property name="sourceHotelDAO" ref="sourceHotelDAO" />
	</bean>
	
	<bean id="frenchQtrGuideOneTimeLoader" class="com.burda.scraper.cache.OneTimeHotelLoader">
		<property name="masterHotelDAO" ref="masterHotelDAO" />
		<property name="hotelDetailDAO" ref="hotelDetailDAO" />
		<property name="sourceHotelDAO" ref="sourceHotelDAO" />	
	</bean>
		
	<bean id="frenchQtrGuideInvSource" class="com.burda.scraper.inventory.FrenchQuarterGuideInventorySource">
		<property name="hotelDetailDAO" ref="hotelDetailDAO" />
		<property name="sourceHotelDAO" ref="sourceHotelDAO" />		
	</bean>	
		
	<bean id="nodcInvSource" class="com.burda.scraper.inventory.NODCWarehouse">
		<property name="sourceHotelDAO" ref="sourceHotelDAO" />
		<property name="hotelDetailDAO" ref="hotelDetailDAO" />
	</bean>	
	
	<bean id="nodchotelLoader" class="com.burda.scraper.cache.NODCHotelLoader" />
		
	<bean id="inventoryService" class="com.burda.scraper.inventory.InventoryServiceImpl">
		<property name="NODCInventorySource" ref="nodcInvSource" />
		<property name="FQGInventorySource" ref="frenchQtrGuideInvSource" />
	</bean>
</beans>