
body .loading-mask {
    display: none;
    height: 0;
    width: 0;
}
body .loading {
    background: url("/common/images/please_wait.gif") no-repeat scroll center center white;
}
body .loading .loading-mask {
    background: url("/common/images/please_wait.gif") no-repeat scroll center center white;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 55;
}
body .additional-fees {
    margin: 15px 0;
}
body .additional-fees p {
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}
body .tab-row .tabList li a {
    margin: 0;
    padding: 2px 8px;
}
body .resorts-search-widget {
    width: 520px;
}
body .resorts-search-widget fieldset {
    border: medium none;
    margin: 10px 0;
    padding: 0;
}
body .resorts-search-widget label span {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}
body .resorts-search-widget label span:after {
    content: ":";
}
body .resorts-search-widget select {
    max-width: 150px;
    width: 45px;
}
body .resorts-search-widget .date-section {
    margin-top: 15px;
}
body .resorts-search-widget .date-section label {
    float: left;
    margin-right: 10px;
}
body .resorts-search-widget .date-section input {
    height: 16px;
    margin-right: 3px;
    width: 75px;
}
body .resorts-search-widget .room-section label {
    float: left;
    margin-right: 10px;
}
body .resorts-search-widget .room-section table {
    border-collapse: collapse;
    border-spacing: 0;
    float: left;
}
body .resorts-search-widget .room-section table th {
    text-align: left;
}
body .resorts-search-widget .room-section table th span {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}
body .resorts-search-widget .room-section table th span:after {
    content: ":";
}
body .resorts-search-widget .room-section table td {
    padding-right: 10px;
}
body .resorts-search-widget .child-age-section legend {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}
body .resorts-search-widget .child-age-section legend:after {
    content: ":";
}
body .resorts-search-widget .child-age-section legend:after {
    content: "";
}
body .resorts-search-widget .child-age-section table {
    border-collapse: collapse;
    border-spacing: 0;
}
body .resorts-search-widget .child-age-section table td {
    padding-right: 10px;
}
body .resorts-search-widget .command-section #hotelSearchWidgetSearchButton {
    width: 100%;
}
body fieldset.discount-section {
    border: medium none;
    margin: 10px 0;
    padding: 0;
    position: relative;
}
body fieldset.discount-section span {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 5px;
    width: 90px;
}
body fieldset.discount-section input {
    margin: 2px 0;
}
body .rate-calendar-tooltip {
    background-color: black;
    padding: 2px;
}
body .rate-calendar-tooltip:after {
    border-color: black transparent;
    border-style: solid;
    border-width: 10px 15px 0;
    content: "";
    display: block;
    left: 88px;
    position: absolute;
    width: 0;
}
body .rate-calendar-tooltip .contents {
    background-color: #FEFFDD;
    padding: 10px;
}
body .rate-calendar-tooltip-alt-bg div.contents {
    background-color: white;
}
body .rate-calendar-panel {
    padding: 10px 5px;
}
body .rate-calendar-panel label {
    font-weight: bold;
}
body .rate-calendar-panel table {
    border-collapse: collapse;
}
body .rate-calendar-panel .search-widget {
    background-color: #EAEAEA;
    overflow: hidden;
    padding: 10px;
}
body .rate-calendar-panel .search-widget > p {
    font-size: 14px;
    padding: 5px;
}
body .rate-calendar-panel .search-widget form {
    float: left;
    margin-right: 20px;
    width: 300px;
}
body .rate-calendar-panel .search-widget select {
    display: block;
    max-width: 150px;
    width: 45px;
}
body .rate-calendar-panel .search-widget select[name="prefSkuId"] {
    width: auto;
}
body .rate-calendar-panel .search-widget input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}
body .rate-calendar-panel .search-widget legend {
    font-weight: bold;
    padding-bottom: 10px;
}
body .rate-calendar-panel .search-widget fieldset {
    border: medium none;
    margin: 15px 0;
    padding: 0;
    position: relative;
}
body .rate-calendar-panel .search-widget th {
    text-align: left;
    text-transform: lowercase;
}
body .rate-calendar-panel .search-widget th:first-letter {
    text-transform: capitalize;
}
body .rate-calendar-panel .search-widget #advancedOptions {
    display: none;
}
body .rate-calendar-panel .search-widget .room {
    text-align: right;
    text-transform: lowercase;
}
body .rate-calendar-panel .search-widget .room:first-letter {
    text-transform: capitalize;
}
body .rate-calendar-panel .search-widget td.room:after {
    content: ":";
}
body .rate-calendar-panel .search-widget .stay-section {
    margin: 0;
}
body .rate-calendar-panel .search-widget .stay-section label {
    float: left;
    width: 150px;
}
body .rate-calendar-panel .search-widget .room-section label {
    float: left;
    text-transform: lowercase;
}
body .rate-calendar-panel .search-widget .room-section label:first-letter {
    text-transform: capitalize;
}
body .rate-calendar-panel .search-widget .room-section table {
    margin-left: 80px;
    width: 200px;
}
body .rate-calendar-panel .search-widget .child-age-section .room {
    width: 86px;
}
body .rate-calendar-panel .search-widget .child-age-section .room td {
    padding-right: 5px;
}
body .rate-calendar-panel .search-widget .discount-section span:after {
    content: ":";
}
body .rate-calendar-panel .search-widget .command-section {
    margin-bottom: 0;
}
body .rate-calendar-panel ul.calendar-key {
    list-style: none outside none;
    margin: 10px 0;
    padding: 0;
}
body .rate-calendar-panel ul.calendar-key li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
body .rate-calendar-panel ul.calendar-key li:before {
    border: 1px solid #666666;
    content: "";
    display: inline-block;
    height: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    width: 12px;
}
body .rate-calendar-panel ul.calendar-key li.unavailable:before {
    background-color: #FFD6D6;
}
body .rate-calendar-panel ul.calendar-key li.check-in:before {
    background: -moz-linear-gradient(center top , #FEFFDD 33%, #FCFF6D 100%) repeat scroll 0 0 transparent;
    border: 2px solid black;
}
body .rate-calendar-panel .calendar-container {
    float: left;
    margin: 0;
    overflow: hidden;
    position: relative;
}
body .rate-calendar-panel .calendar-container .loading {
    float: left;
    overflow: hidden;
    position: relative;
}
body .rate-calendar-panel .calendar-container > div {
    float: left;
    margin: 0;
}
body .rate-calendar-panel .calendar-container > div:first-child {
    margin: 0 10px 0 0;
}
body .rate-calendar-panel .calendar-container > .calendar {
    float: right;
    margin: 10px 0;
}
body .rate-calendar-panel .calendar {
    border-collapse: separate;
    border-color: #666666;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    font-family: Arial,Helvetica,sans-serif;
    width: 301px;
}
body .rate-calendar-panel .calendar caption .month-navigation {
    background-color: #666666;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    position: relative;
}
body .rate-calendar-panel .calendar caption .month-navigation a {
    color: white;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
}
body .rate-calendar-panel .calendar caption .month-navigation a.next-link {
    right: 5px;
}
body .rate-calendar-panel .calendar caption .month-navigation a.prev-link {
    left: 5px;
}
body .rate-calendar-panel .calendar thead {
    background-color: #EAEAEA;
    color: #666666;
    font-size: 12px;
    height: 20px;
}
body .rate-calendar-panel .calendar th {
    padding: 2px 5px;
    text-align: left;
}
body .rate-calendar-panel .calendar td {
    background-color: white;
    border-color: #666666;
    border-style: solid;
    border-width: 1px 0 0 1px;
    height: 43px;
    width: 43px;
}
body .rate-calendar-panel .calendar td:first-child {
    border-color: #666666;
    border-style: solid;
    border-width: 1px 0 0;
}
body .rate-calendar-panel .calendar td.available a {
    float: right;
    margin-right: 2px;
    margin-top: 40%;
}
body .rate-calendar-panel .calendar td.unavailable {
    background-color: #FFD6D6;
}
body .rate-calendar-panel .calendar td.unavailable a {
    background-color: #A60100;
    color: white;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 14px;
    left: 14.5px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 14.5px;
    width: 14px;
}
body .rate-calendar-panel .calendar td.date-searched {
    background-color: black;
}
body .rate-calendar-panel .calendar td.date-searched .date-cell {
    background: -moz-linear-gradient(center top , #FEFFDD 33%, #FCFF6D 100%) repeat scroll 0 0 transparent;
}
body .rate-calendar-panel .calendar td.past-date {
    background-color: #EAEAEA;
}
body .rate-calendar-panel .calendar td .date-cell {
    height: 39px;
    margin: 2px;
    position: relative;
    width: 39px;
}
body .rate-calendar-panel .calendar td .date-number {
    color: #666666;
    font-size: 8px;
    position: absolute;
    right: 2px;
    top: 2px;
}
body .rate-calendar-panel .info {
    clear: both;
    margin: 0;
    padding: 10px 0 !important;
}
body .hotel-no-availiability {
    margin-bottom: 15px;
    overflow: hidden;
}
body .hotel-no-availiability .rate-calendar-panel {
    float: right;
    padding: 0;
    width: auto;
}
body .hotel-no-availiability .rate-calendar-panel ul.calendar-key {
    margin: 0;
}
body .hotel-no-availiability .rate-calendar-panel p {
    margin: 10px 0 0;
    width: 315px;
}
body #rateCalendar, body .rateCalendar {
    min-height: 200px;
    overflow: hidden;
    position: relative;
}
body #rateCalendar .loading, body .rateCalendar .loading {
    float: left;
    overflow: hidden;
    position: relative;
}
.car-offer-popup {
    max-height: 700px;
    overflow: auto;
}
.packageSearch .wicket-modal .rate-calendar-tab, .packageSearch .wicket-modal .rateCalendar {
    display: none;
}
body .rate-calendar-panel .search-widget input[type="submit"] {
    background: url("/images/background-top-menu.png") repeat-x scroll left top #00A300;
    border-color: #006F00 #00B300;
    border-style: none solid;
    border-width: 0 1px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    width: 130px;
}
body .rate-calendar-panel .calendar thead {
    background-color: #EFEFEF;
}
body .rate-calendar-panel .calendar td.past-date {
    background-color: #EFEFEF;
}
body .rate-calendar-panel .calendar caption .month-navigation {
    background-color: #692182;
}
body #rateCalendar {
    min-height: 200px;
}
body #rateCalendar .calendar {
    border-collapse: separate;
    border-color: #666666;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    font-family: Arial,Helvetica,sans-serif;
    width: 266px;
}
body #rateCalendar .calendar caption .month-navigation {
    background-color: #666666;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    position: relative;
}
body #rateCalendar .calendar caption .month-navigation a {
    color: white;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
}
body #rateCalendar .calendar caption .month-navigation a.next-link {
    right: 5px;
}
body #rateCalendar .calendar caption .month-navigation a.prev-link {
    left: 5px;
}
body #rateCalendar .calendar thead {
    background-color: #EAEAEA;
    color: #666666;
    font-size: 12px;
    height: 20px;
}
body #rateCalendar .calendar th {
    padding: 2px 5px;
    text-align: left;
}
body #rateCalendar .calendar td {
    background-color: white;
    border-color: #666666;
    border-style: solid;
    border-width: 1px 0 0 1px;
    height: 38px;
    width: 38px;
}
body #rateCalendar .calendar td:first-child {
    border-color: #666666;
    border-style: solid;
    border-width: 1px 0 0;
}
body #rateCalendar .calendar td.available a {
    float: right;
    margin-right: 2px;
    margin-top: 40%;
}
body #rateCalendar .calendar td.unavailable {
    background-color: #FFD6D6;
}
body #rateCalendar .calendar td.unavailable a {
    background-color: #A60100;
    color: white;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 14px;
    left: 12px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 12px;
    width: 14px;
}
body #rateCalendar .calendar td.date-searched {
    background-color: black;
}
body #rateCalendar .calendar td.date-searched .date-cell {
    background: -moz-linear-gradient(center top , #FEFFDD 33%, #FCFF6D 100%) repeat scroll 0 0 transparent;
}
body #rateCalendar .calendar td.past-date {
    background-color: #EAEAEA;
}
body #rateCalendar .calendar td .date-cell {
    height: 34px;
    margin: 2px;
    position: relative;
    width: 34px;
}
body #rateCalendar .calendar td .date-number {
    color: #666666;
    font-size: 8px;
    position: absolute;
    right: 2px;
    top: 2px;
}
body #rateCalendar .calendar thead {
    background-color: #EFEFEF;
}
body #rateCalendar .calendar td.past-date {
    background-color: #EFEFEF;
}
body #rateCalendar .calendar caption .month-navigation {
    background-color: #692182;
}
.category-list-title {
    border-bottom: 1px solid #EBB231;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.popupVideo {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    height: 390px !important;
}
